html, body
    height: 100%
    box-sizing: border-box
    width: 100%
    font: ubuntu
    color: #ffffff
    letter-spacing: .5px
    font-size: 16px
    perspective: 1000px
    overflow: hidden
    *, *::before, *::after
        box-sizing: inherit

.text-right
    text-align: center

#root
    header
        background-color: darken($black, 10%)
        min-height: 100vh
        animation: fadein 1s ease
        position: relative
        z-index: 1
        .top-line
            padding: 30px 
            .header-title
                letter-spacing: 1px
                font-family: magra
                span
                    text-transform: uppercase
                    color: $accent
                    font-family: anton
                    letter-spacing: 5px
                    font-size: 20px
                    margin-left: 12px
                    cursor: pointer
        .content
            display: flex
            min-height: 100%
            width: 100%
            padding: 70px 0//
            transform-style: preserve-3d
            .board, .middle-layer, .bottom-layer
                position: relative
                top: 0
                left: 0
                width: 70%
                background-color: #000000
                background-image: linear-gradient(315deg, darken($black, 7%) 0%, lighten($black, 1%) 74%)
                border-radius: 35px
                padding: 29px
                border-top-right-radius: 60px
                z-index: 1
                .project.testify, .sociai, .rsdShop
                    display: flex
                    .preview
                        border: 2px solid darken(#fff, 10%)
                        border-radius: 6px
                        cursor: pointer
                        background: url('../svg/testifyPreview.svg') no-repeat center
                        width: 120px//
                        display: flex
                        img
                            width: 100px//
                            margin: auto
                            opacity: .8

                    .info
                        padding: 0 20px
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        span
                            font-family: anton
                            letter-spacing: 1.2px
                            font-size: 20px
                        p
                            margin-top: 20px
                        ul
                            list-style-type: none
                            li
                                display: inline
                                cursor: pointer
                                padding: 0 3px
                                .trylink
                                    color: $accent
                                    font-weight: bold
                                    margin-top: 20px
                                    display: inline-block
                                    font-size: 14px
                                    i
                                        display: inline-block
                                        font-style: normal
                                        font-weight: 300
                                        color: #ffffff
                                        width: 25px
                                        height: 25px
                                        line-height: 20px
                                        background-color: $accent
                                        text-align: center
                                        border-radius: 100%
                                        margin-right: 10px
                                        font-size: 25px
                                    i.fa-github-alt
                                        font-size: 14px
                                        line-height: 25px
                                    &:hover
                                        color: $accent
                                    
                                     
                    .stack
                        margin-left: auto
                        margin-right: 30px
                        width: 170px
                        .hidden
                            display: none
                        span
                            font-family: anton
                            letter-spacing: 1.2px
                            font-size: 16px  
                        ul      
                            margin-top: 20px   
                            li  
                                padding: 4px 0 
                                font-size: 14px   
                .sociai
                    margin-top: 20px   
                    .preview
                        background: #fff
                        position: relative
                        img
                            position: absolute
                            top: 0
                            left: 0
                            right: 0
                            bottom: 0
                            z-index: 18
                            opacity: .9
                            border-radius: 7px
                        .background
                            svg
                                position: absolute
                                z-index: 1
                            img
                                z-index: 5
                                opacity: 1
                     
                .rsdShop
                    margin-top: 20px   
                    .preview
                        background: url('../img/rsdMed.png') no-repeat center
                        background-size: contain
                     

                .middle-layer, .bottom-layer
                    position: absolute
                    width: 100%
                    height: 100%
                    background-image: none
                .middle-layer
                    top: 15px
                    left: -20px
                    z-index: -1
                    background-color: darken($black, 3%)
                    opacity: .4
                .bottom-layer
                    top: 30px
                    left: -40px
                    z-index: -2
                    background-color: darken($black, 5%)
                    opacity: .6

        
            

            
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: url('../svg/bg2.svg') no-repeat center
            opacity: 0.02
            z-index: -3
        

.level--2
    transform: translateZ(-25px)       

.level--1
    transform: translateZ(-10px)            

.level-1
    transform: translateZ(30px)      

.level-2
    transform: translateZ(50px)     
         
.background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    opacity: .8
    .bub1
        transform: translate(0, 90%)
        animation: bub1 8s linear infinite
    .bub2
        transform: translate(30%, 70%)
        animation: bub2 10s linear infinite
    .bub3
        transform: translate(50%, 100%)
        animation: bub3 11s linear infinite
    .bub4
        transform: translate(80%, 50%)
        transform: scale(1)
        animation: bub4 15s linear infinite
    .bub5
        transform: translate(120%, 95%)
        animation: bub5 15s linear infinite
    .bub6
        transform: translate(150%, 101%)
        animation: bub6 8s linear infinite
    .bub7
        transform: translate(170%, 95%)
        animation: bub7 8s linear infinite
        transform: scale(0.2)
    .bub8
        transform: translate(175%, 100%)
        animation: bub8 8s linear infinite
        transform: scale(0.2)