html, body
    height: 100%
    box-sizing: border-box
    width: 100%
    font: ubuntu
    color: #ffffff
    letter-spacing: .5px
    font-size: 16px
    perspective: 1000px
    overflow: hidden
    *, *::before, *::after
        box-sizing: inherit

.text-right
    text-align: center

#root
    header
        background-color: darken($black, 10%)
        min-height: 100vh
        animation: fadein 1s ease
        position: relative
        z-index: 1
        .top-line
            padding: 30px 
            .header-title
                letter-spacing: 1px
                font-family: magra
                span
                    text-transform: uppercase
                    color: $accent
                    font-family: anton
                    letter-spacing: 5px
                    font-size: 20px
                    margin-left: 12px
                    cursor: pointer
        .content
            display: flex
            min-height: 100%
            width: 100%
            padding: 160px 0
            transform-style: preserve-3d
            .board, .middle-layer, .bottom-layer
                position: relative
                top: 0
                left: 0
                width: 70%
                background-color: #000000
                background-image: linear-gradient(315deg, darken($black, 7%) 0%, lighten($black, 1%) 74%)
                border-radius: 35px
                padding: 20px
                border-top-right-radius: 60px
                z-index: 1
                .project
                    display: flex
                    
                    .preview
                        border: 2px solid #fff
                        border-radius: 6px
                        cursor: pointer
                        img
                            border-radius: 6px
                            width: 200px
                            //height: 150px
                    .info
                        padding: 0 20px
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        span
                            font-family: anton
                            letter-spacing: 1.2px
                            font-size: 20px
                        p
                            margin-top: 20px
                        ul
                            list-style-type: none
                            li
                                display: inline
                                cursor: pointer
                                padding: 0 3px
                                a
                                    i
                                        color: #fff
                                        font-size: 15px
                                        width: 25px
                                        height: 25px
                                        border-radius: 50%
                                        background-color: darken($accent, 8%)
                                        text-align: center
                                        line-height: 25px
                                    
                                     
                    .stack
                        span
                            font-family: anton
                            letter-spacing: 1.2px
                            font-size: 16px  
                        ul      
                            margin-top: 20px   
                            li  
                                padding: 4px 0 
                                font-size: 14px   
                                    


                .middle-layer, .bottom-layer
                    position: absolute
                    width: 100%
                    height: 100%
                    background-image: none
                .middle-layer
                    top: 15px
                    left: -20px
                    z-index: -1
                    background-color: darken($black, 3%)
                    opacity: .4
                .bottom-layer
                    top: 30px
                    left: -40px
                    z-index: -2
                    background-color: darken($black, 5%)
                    opacity: .6

        
            

            
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: url('../svg/bg2.svg') no-repeat center
            opacity: 0.02
            z-index: -3
            //border-radius: 50%
        

.level--2
    transform: translateZ(-25px)       

.level--1
    transform: translateZ(-10px)            

.level-1
    transform: translateZ(30px)      
         
