
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1700px)
    #root
        header
            .top-line
                padding: 20px
                .header-title
                    span
                        font-size: 16px
                .page-title
                    font-size: 18px
            .content
                padding-top: 30px
                .board
                    padding: 30px
                    width: 70%
                    .tech
                        font-size: 12px
                    .project.testify, .sociai, .rsdShop, .console, .uiux
                        .info
                            span
                                font-size: 14px
                            p
                                margin-top: 4px
                                font-size: 14px
                            ul
                                li
                                    padding: 2px 0 
                                    margin-right: 6px
                                    .trylink
                                        font-size: 12px
                                        margin-top: 5px
                                        i
                                            width: 20px
                                            height: 20px
                                            line-height: 20px
                                            font-size: 13px
                                        i.fa-github-alt
                                            font-size: 10px
                                            line-height: 20px
                        .stack
                            span
                                font-size: 14px
                            ul, ul.first
                                font-size: 12px
                            ul.first
                                margin-top: 0
                                li
                                    margin-right: 5px
                    .project, .project.testify
                        .preview
                            width: 100px
                            height: 80px
                    .project.testify
                        .preview
                            img
                                width: 60px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    /**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    /**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    /**/
