<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="background-color: rgba(31, 35, 38, 1)">
    <div id="root">
      <header>
        <div class="top-line">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="header-title">
                  web Developer <span>Alex Adoniev</span>
                </div>
              </div>
              <div class="col-md-6 text-right"></div>
            </div>
          </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                       
                        <div class="board">
                            <div class="project">
                                <div class="preview" style="pointer-events: auto;">
                                  
                                </div>
                                <div class="info">
                                  <span class="level-1">Testify</span>
                                  <p>App for creating and passing custom tests. </p>
                                  <ul >
                                    <li><a href="http://194.67.108.24/testify"><i class="fas fa-link"></i></a></li>
                                    <li><a href="https://github.com/webweaver222/testify"><i class="fab fa-github-alt"></i></a></li>
                                    <li><a href=""></a></li>
                                </ul>
                                </div>
                                <div class="stack level-1">
                                  <span>Tech Stack</span>
                                  <ul>
                                    <li>React/Redux</li>
                                    <li>Koa.js</li>
                                    <li>Sequelize ORM</li>
                                    <li>React List Drag and Drop</li>
                                </ul>
                                </div>
                            </div>
                            <div class="middle-layer level--1"></div>
                            <div class="bottom-layer level--2"></div>
                        </div>
                    </div>
                </div>
            </div>
        
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
