<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
      <div class="container">
          <div class="window">
            <header>
              <div class="menu">
               <img src="./svg/riot.svg" alt="riot" class="logoCompany">
                  
                  <img src="./svg/valo.svg" alt="valo" class="logoGame">
                  <nav><ul>
                    <li>GAME</li>
                  <li>CHAMPIONS</li>
                  <li class="withDropdown">NEWS</li>
                  <li>PATCH NOTES</li>
                  <li class="withDropdown">DISCOVER</li>
                  <li>ESPORTS</li>
                  <li>UNIVERSE</li>
                  <li>SHOP</li>
                  <li>SUPPORT</li></ul></nav>
              </div>
              <div class="profile">
                <div class="profileAvatar"></div>
                <span>UNEPICKID</span>
              </div>
            </header>

            <main>
              <div class="filler"></div>
              <div class="deco-elements"></div>
              <div class="cards">
                  <span class="agents">AGENTS</span>
                  <div class="card"><img src="./img/nicher.png" alt="nicher">
                  <div class="caption" style="top:25%; left:-57%;">
                    <span>United Kingdom</span>
                    <h2>PHOENIX</h2>
                  </div>
                  <div class="skills">
                      <img src="./svg/n1.svg" alt="n1">
                      <img src="./svg/n2.svg" alt="n2">
                      <img src="./svg/n3.svg" alt="n3">
                      <img src="./svg/n4.svg" alt="n4">
                    </div>
                  </div>
                  <div class="card">
                    <img src="./img/jett.png" alt="jett">
                    <div class="caption" style="top:12%; left:-27%;">
                        <span>South Korea</span>
                        <h2>JETT</h2>
                      </div>
                    <div class="skills">
                      <img src="./svg/jett/Vector-3.svg" alt="j4">
                      <img src="./svg/jett/Vector-2.svg" alt="j3">
                      <img src="./svg/jett/Vector-1.svg" alt="j2">
                        <img src="./svg/jett/Vector.svg" alt="j1">
                    </div>
                    </div>
                  <div class="card"><img src="./img/sova.png" alt="sova">
                    <div class="caption" style="top:14%; left:-32%;">
                        <span>Russia</span>
                        <h2>SOVA</h2>
                      </div>
                      <div class="skills">
                        <img src="./svg/sova/Vector.svg" alt="s1">
                        <img src="./svg/sova/Vector-1.svg" alt="s2">
                        <img src="./svg/sova/Vector-2.svg" alt="s3">
                          <img src="./svg/sova/Vector-3.svg" alt="s4">
                        </div></div>
                  <div class="card card-white"><img src="./img/sage.png" alt="sage">
                    <div class="caption" style="top:14%; left:-32%;">
                      <span>China
                        </span>
                      <h2 class="black">SAGE</h2>
                    </div>
                
                      <div class="skills skillsWhite">
                        <img src="./svg/sage/Vector.svg" alt="sa1">
                        <img src="./svg/sage/Vector-1.svg" alt="sa2">
                        <img src="./svg/sage/Vector-2.svg" alt="sa3">
                          <img src="./svg/sage/Vector-3.svg" alt="sa4">
                        
                  </div></div>
              </div>
              <div class="details">
                <div class="skill">
                  <h2>BASIC</h2>
                  <span>Slow Orb</span>
                  <p>Cast out a radianite orb that breaks into a slowing field upon impact with the ground.</p>
                  <div class="square">
                    <div class="icon"><img src="./svg/sage/Vector-3.svg" alt="sage"></div>
                  </div>
                </div>
                <div class="skill">
                    <h2>SIGNATURE</h2>
                    <span>Healing Orb</span>
                    <p>Heal an ally or yourself to full health over a few seconds.</p>
                    <div class="square">
                      <div class="icon"><img src="./svg/sage/Vector-1.svg" alt="sage"></div>
                    </div>
                  </div>
                  <div class="skill">
                      <h2>ULTIMATE</h2>
                      <span>Resurrection</span>
                      <p>Target a friendly corpse. After a short delay, revive them with full health.</p>
                      <div class="square">
                        <div class="icon"><img src="./svg/sage/Vector-2.svg" alt="sage"></div>
                      </div>
                    </div>
                  <div class="play"><img width="7px" height="7px" src="./svg/play.svg" alt="play"></div>
              </div>
            </main>

            <footer></footer>
          </div>
          <div class="background"></div>
          <div class="watermark"><img src="./svg/figma.svg" alt=""><span>Free files</span></div>
      </div>
  </body>
</html>
