
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="background-color: rgba(31, 35, 38, 1)">
    <div id="root">
      <header>
        <div class="links">
           <a href="https://www.linkedin.com/in/alex-adoniev-a04022176/" class="lnd"></a>
           <a href="https://www.facebook.com/alex.adoniev" class="fb"></a>
           <a href="https://github.com/webweaver222" class="git"><i class="fab fa-github"></i></a>
          </a>
        </div>
        <div class="top-line">
          <div class="container-fluid">
            <div class="row signature">
              <div class="col-md-6">
                <div class="header-title">
                  <span>web Developer</span> <span class="name">Alex Adoniev</span>
                </div>
              </div>
              <div class="col-md-6 text-right"></div>
            </div>
            <div class="row">
              <div class="col-12 text-center page-title">
                My Projects
              </div>
            </div>
          </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                       
                        <div class="board">
                            <span class="tech level-1">Tech Stack</span>
                            <div class="project testify">
                                <div class="preview" style="pointer-events: auto;">
                                 <img src="<%= require('./img/testify-prev.png') %>"  alt="testy">
                                </div>
                                <div class="info">
                                  <span class="level-1">Testify</span>
                                  <p>Web service for creating and passing custom tests</p>
                                  <ul >
                                    <li><a href="/testify" class="trylink"><i>›</i>Open App</a></li>
                                    <li><a href="https://github.com/webweaver222/testify" class="trylink"><i class="fab fa-github-alt"></i>Github Page</a></li>
                                </ul>
                                </div>
                                <div class="stack">
                                  <ul class="first">
                                    <li>React/Redux</li>
                                    <li>Koa.js</li>
                                    <li>Sequelize ORM</li>
                                    <li>Socket.io</li>
                                </ul>
                                </div>
                            </div>


                            <div class="project sociai">
                              <div class="preview" style="pointer-events: auto;">
                                <div class="background"> 
                                  <%= require('./svg/background.html') %>  
                                </div>
                                <img src="<%= require('./img/test.png') %>"  alt="soc">
                              </div>
                              <div class="info">
                                <span class="level-1">Sociai</span>
                                <p>Social network on web sockets</p>
                                <ul >
                                  <li><a href="/sociai" class="trylink"><i>›</i>Open App</a></li>
                                  <li><a href="https://github.com/webweaver222/sociai2o" class="trylink"><i class="fab fa-github-alt"></i>Github Page</a></li>
                              </ul>
                              </div>
                              <div class="stack">
                                <ul>
                                  <li>React/Redux</li>
                                  <li>Express</li>
                                  <li>Mongoose ODM</li>
                                  <li>Websocket</li>
                              </ul>
                              </div>

                              
                          </div>

                          <div class="project console">
                            <div class="preview" style="pointer-events: auto;">
                             
                            </div>
                            <div class="info">
                              <span class="level-1">API Console</span>
                              <p>Web API console with requests history</p>
                              <ul >
                                <li><a href="/console" class="trylink"><i>›</i>Open App</a></li>
                                <li><a href="https://github.com/webweaver222/ss_console/tree/vers" class="trylink"><i class="fab fa-github-alt"></i>Github Page</a></li>
                            </ul>
                            </div>
                            <div class="stack">
                              
                              <ul>
                                <li>React/Redux</li>
                            </ul>
                            </div>

                            
                        </div>

                          <div class="project rsdShop">
                            <div class="preview" style="pointer-events: auto;">
                           
                            </div>
                            <div class="info">
                              <span class="level-1">MerchPicker</span>
                              <p>Shop snippet with filters and pagination</p>
                              <ul >
                                <li><a href="/shop" class="trylink"><i>›</i>Open App</a></li>
                                <li><a href="https://github.com/webweaver222/rsdTest" class="trylink"><i class="fab fa-github-alt"></i>Github Page</a></li>
                            </ul>
                            </div>
                            <div class="stack">
                             
                              <ul>
                                <li >Typescript</li>
                                <li>React/Redux</li>
                                <li>Styled-components</li>
                            </ul>
                            </div>


                            
                        </div>


                        <div class="project uiux">
                          <div class="preview" style="pointer-events: auto;">
                           
                          </div>
                          <div class="info">
                            <span class="level-1">Adonika</span>
                            <p>Protfolio website for UI/UX designer</p>
                            <ul >
                              <li><a href="/adonika" class="trylink"><i>›</i>Visit</a></li>
                              <li><a href="https://github.com/webweaver222/nika" class="trylink"><i class="fab fa-github-alt"></i>Github Page</a></li>
                          </ul>
                          </div>
                          <div class="stack">
                           
                            <ul>
                              <li>React server side rendering</li>
                              <li>Express</li>
                              <li>styled-components</li>
                          </ul>
                          </div>

                          
                      </div>
                            <div class="middle-layer level--1"></div>
                            <div class="bottom-layer level--2"></div>
                        </div>
                    </div>
                </div>
            </div>
        
          </div>
        </div>
      
      </header>
    </div>
  </body>
</html>
